@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find out generic information about me: <a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></p>
    <p>Create a contact request: <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></p>
    <p>Privacy information: <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
</div>
