@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>
    This Privacy Policy outlines how we handle user data on our website. By using our services, you agree to the practices described in this policy.
</p>

<h3>Information Collected</h3>
<hr />
<p>
    We collect and process certain information for the purpose of providing and improving our services. This includes:
</p>

<ul>
    <li>
        <strong>reCAPTCHA:</strong> We use Google's reCAPTCHA to protect against spam and abuse. Your use of reCAPTCHA is subject to Google's <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
    </li>
    <li>
        <strong>User Data:</strong> Your Email address is collected for account creation and management.
    </li>
</ul>

<h3>Access and Control</h3>
<hr />
<p>
    You can access and control your personal data through the <a href="Identity/Account/Manage/PersonalData">Personal Data</a> section. Here, you can download or delete your data as needed.
</p>

<h3>Chat Messages</h3>
<hr />
<p>
    Our chat feature is a platform for respectful communication. Sending inappropriate messages may result in consequences, including muting of your account. 
    Any chat message sent is saved. You have the ability to delete your own messages. Your messages may also be deleted by a moderator without notice. 
</p>

<h3>Unauthorized Access</h3>
<hr />
<p>
    Unauthorized attempts to access certain resources on our website are logged for security purposes. Any such attempts may be investigated.
</p>

<h3>Changes to This Policy</h3>
<hr />
<p>
    We may update this Privacy Policy to reflect changes in our practices. It is your responsibility to review this policy periodically for any updates.
</p>

<br />

<small>
    If you have questions or concerns about this Privacy Policy, please contact us at <a href="mailto:klaaspost.showcase@gmail.com">klaaspost.showcase@gmail.com</a>.
</small>
