html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
}

a::after {
    background-color: red;
}