@model Showcase.Web.Models.ContactModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contact">
    @* Contact page is generated here by showcase.js*@
    @Html.AntiForgeryToken()
</div>