@model string

@if (!String.IsNullOrEmpty(Model))
{
    <dialog open="true">
        <article>
            <header>
                <a href="#close" aria-label="Close" class="close"></a>
                Alert
            </header>
            <p>
                @Model
            </p>
        </article>
    </dialog>
}
