@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h3 class="warning">@ViewData["Title"]</h3>
    <p class="warning">You do not have access to this resource.</p>
</header>
