@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h3 class="warning">@ViewData["Title"]</h3>
    <p class="warning">This account has been locked out, please try again later.</p>
</header>
