<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Showcase</title>
    <link rel="stylesheet" href="~/lib/showcase/dist/showcase-pico.css" asp-append-version="true" />
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <h2><a asp-area="" asp-controller="Home" asp-action="Index" class="contrast">Showcase</a></h2>
            </li>
        </ul>
        <ul>
            <li>
                <h4><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></h4>
            </li>
            <li>
                <h4><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></h4>
            </li>
            <li>
                <h4><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h4>
            </li>
        </ul>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2023 - Showcase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/showcase/dist/showcase-components.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
