<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This website was built by Klaas Post for a school assignment showcasing various web development techniques such as SignalR, Entity Framework, MVC and client-server architecture">
    <title>@ViewData["Title"] - Showcase</title>
    <link rel="stylesheet" href="~/lib/showcase/dist/showcase-pico.css" asp-append-version="true" />
    <link rel=preconnect href="https://www.google.com" />
</head>
<body>
    <div class="container-fluid">
        <nav>
            <ul>
                <li><strong><a asp-area="" asp-controller="Home" asp-action="Index" class="contrast">Showcase</a></strong></li>
            </ul>
            <ul>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </div>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <div id="theme-switch"/>
        <nav class="center" aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '•';">
            <ul>
                <li><a asp-area="" asp-controller="Chat" asp-action="Index">Chat</a></li>
                <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                <li><a asp-area="" asp-controller="Profile" asp-action="Index">Profile</a></li>
                <li><a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a></li>
                @if (User.IsInRole(Role.Administrator.ToString()))
                {
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Administration</a></li>
                }
            </ul>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/showcase/dist/showcase-components.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
